.skill {
    list-style: none;
    width: 44%;
    margin: 15px auto 0;
    padding: 30px 0;
    position: relative;
    line-height: 20px;
    display: inline-table;
}

.skill h2 {
    text-align: center;
}

.left-column {
    margin-right: 11%;
}

.skill li {
    margin-bottom: 50px;
    background: #FFFFFF;
    height: 20px;
    padding: 0;
}

.bar {
    height: 20px;
    position: absolute;
}

.skill li h4 {
    position: relative;
    top: -30px;
    text-align: left;
}

.c {
    width: 70%;
    background-color: #F4ACB7;
}

.html-css {
    width: 90%;
    background-color: #B2DBD7;
}

.javascript {
    width: 10%;
    background-color: #F4ACB7;
}

.java {
    width: 10%;
    background-color: #B2DBD7;
}

.photoshop {
    width: 20%;
    background-color: #B2DBD7;
}

.illustrator {
    width: 60%;
    background-color: #F4ACB7;
}

.web-design {
    width: 50%;
    background-color: #B2DBD7;
}

.wordpress {
    width: 50%;
    background-color: #F4ACB7;
}